/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/v16/.suo
/RemoteCtrl/.vs/RemoteCtrl/v16/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v16/ipch/d1f796f28327b980.ipch
/RemoteCtrl/RemoteMfc/RemoteMfc.vcxproj.user
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
